<header class="header">

{{#if isLoggedIn}}
  <a href="/home" class="logo">
    <h1>InterPals</h1>
  </a>
{{else}}
  <a href="/" class="logo">
    <h1>InterPals</h1>
  </a>
{{/if}}

<nav>
 {{#if isLoggedIn}}
    <a href="/nuevacarta" class="btn-secondary">Escribir carta</a>
    <form action="/api/auth/logout" method="POST">
      <button type="submit" class="btn">Logout</button>
    </form>
  {{else}}
    <a href="/auth/login" class="btn">Entrar</a>
    <a href="/auth/signup" class="btn-secondary">Crear cuenta</a>
  {{/if}}
</nav>
</header>