<header class="header">
<a href="/" class="logo">
<h1>InterPals</h1>
</a>

<nav>
<a href="/auth/login" class="btn">Entrar</a>
<a href="/auth/signup" class="btn-secondary">Crear cuenta</a>
</nav>
</header>