<h1>Mi escritorio</h1>

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  <link rel="stylesheet" href="./public/css/styles.css">
</head>
<body>

  <main>
    <section class="home-actions">
      <p>¿Quieres empezar una nueva carta?</p>
      <!-- Botón que lleva a la página para escribir la carta -->
      <a href="/nuevacarta" class="btn btn-big">✍️ Escribir nueva carta</a>
    </section>
  </main>

<main>
    <section class="home-actions">
      <!-- Botón que lleva a la página para ver las cartas k has recibido -->
      <a href="/buzon" class="btn btn-big">Buzón</a>
    </section>
  </main>

</body>
</html>


<footer class="footer">
    <p>&copy; 2025 InterPals. Todos los derechos reservados.</p>
  </footer>
