<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>InterPals - Mi escritorio</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/home.css">
</head>

<body>

  {{> navbar }}
    <div class="left">
    <section class="home-actions">
      <!-- Bot칩n que lleva a la p치gina para escribir la carta -->
      <a href="/nuevacarta" id="btn-escribir" class="btn btn-big">九꽲잺 Escribir nueva carta</a>
    </section>
    </div>

    <div class="right">
    <section class="home-actions">
      <!-- Bot칩n que lleva a la p치gina para ver las cartas k has recibido -->
      <button id="btn-buzon" class="btn btn-big">游닓 Buz칩n</button>
    </section>
    </div>

  <footer class="footer">
    춸 2025 InterPals
  </footer>

</body>
</html>