<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>InterPals - Mi escritorio</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  {{> navbar }}

  <main>
    <section class="home-actions">
      <p>¿Quieres empezar una nueva carta?</p>
      <!-- Botón que lleva a la página para escribir la carta -->
      <a href="/nuevacarta" class="btn btn-big">✍️ Escribir nueva carta</a>
    </section>
  </main>

  <main>
    <section class="home-actions">
      <!-- Botón que lleva a la página para ver las cartas k has recibido -->
      <a href="/buzon" class="btn btn-big">Buzón</a>
    </section>
  </main>

  <footer class="footer">
    © 2025 InterPals
  </footer>

</body>
</html>