<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InterPals - Entrar</title>
    <link rel="stylesheet" href="./public/css/login.css">
    <script defer src="./partials/navbar.handlebars"></script>
</head>

<body>
    <site-navbar></site-navbar>

    <div class="form-container">
        <h2 class="title">Iniciar sesión</h2>
        <form>
            <input type="email" placeholder="Email" required>
            <input type="password" placeholder="Contraseña" required>
            <button class="btn btn-full">Entrar</button>

            <p class="switch-link">
                ¿No tienes cuenta? <a href="signup.html">Crear cuenta</a>
            </p>
        </form>
    </div>
</body>

</html>