<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InterPals - Registro</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/signup.css">
</head>

<body>
    {{> navbar }}
    <div class="form-container">
        <h2 class="title">Crear cuenta</h2>
        <form action="/api/auth/signup" method="POST">
            <input type="text" name="username" placeholder="Usuario" required>
            <input type="email" name="email" placeholder="Email" required>
            <input type="password" name="password" placeholder="Contraseña" required>
            <button type="submit" class="btn btn-full">Registrarse</button>
            <p class="switch-link">
                ¿Ya tienes cuenta? <span><a href="/auth/login">Entrar</a> </span>
            </p>

            {{#if error}}
                <span class="error-message">{{error}}</span>
            {{/if}}
        </form>
    </div>
</body>

</html>