<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InterPals - Registro</title>
    <link rel="stylesheet" href="./public/css/signup.css">
    <script defer src="./partials/navbar.handlebars"></script>
</head>

<body>
    <site-navbar></site-navbar>
    <div class="form-container">
        <h2 class="title">Crear cuenta</h2>
        <form>
            <input type="text" placeholder="Nombre" required>
            <input type="email" placeholder="Email" required>
            <input type="password" placeholder="Contraseña" required>
            <button class="btn btn-full">Registrarse</button>
            <p class="switch-link">
                ¿Ya tienes cuenta? <a href="login">Entrar</a>
            </p>
        </form>
    </div>
</body>

</html>