/* Hero */
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - var(--header-height));
  background-image: linear-gradient(to bottom, rgba(250, 250, 250, 0.6) 59%, #fff 100%), url("../images/fondo.webp");
  background-size: cover;
  background-position: center;
}

.hero .hero-title {
  width: 60vw;
  text-align: center;
  font-size: 4rem;
  font-weight: 600;
  text-shadow: 0 2px 2px rgba(255, 255, 255, 0.6);
  color: #0E241E;
  font-family: "Roboto";
}

.hero .hero-title span {
  color: #FF5197;
  font-family: "Roboto Mono";
  font-size: 4.6rem;
}

.hero p {
  width: 28vw;
  color: var(--text-color);
  text-align: center;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.6);
  font-size: 1.4rem;
  font-weight: 400;
  font-family: "Roboto";
  margin: 8px 0 48px;
}

.hero-img {
  margin-top: 30px;
  max-width: 700px;
  border-radius: 22px;
}

/* About Section */
.about {
  max-width: 900px;
  margin: 60px auto;
  padding: 0 20px;
  text-align: center;
  font-family: "Roboto";
}

.about h2 {
  font-size: 2.2rem;
  font-weight: 600;
  margin-bottom: 20px;
  font-family: "Roboto Mono";
}

.about p {
  font-size: 1.1rem;
  color: var(--muted-2);
  margin-bottom: 30px;
  line-height: 1.6;
  font-family: "Roboto";
}

.about ul {
  list-style: none;
  padding: 0;
  font-family: "Roboto";
}

.about ul li {
  margin: 10px 0;
  font-size: 1rem;
  color: #1d1d1f;
}

/* Features Section */
.features {
  display: flex;
  justify-content: space-around;
  padding: 60px 20px;
  text-align: center;
  font-family: "Roboto";
}

.feature h3 {
  margin-bottom: 10px;
  font-family: "Roboto Mono";
}

.btn {
text-align: center;
background-color: #FAFFEF;
color: #0E241E;
cursor: pointer;
font-family: "Roboto Mono", sans-serif;
font-size: medium;
font-weight: bold;
border: solid 3px #0E241E;
border-radius: 0%;
box-shadow: 6px 6px 0 0 #0E241E;
}

.btn:hover {
  background-color: #FDFD22;
}

